<footer class="footer navbar-fixed-bottom">
    <div>
        <ul>

            <li>
                <form action="/redir" method="GET">
                    <input type="submit" value="Sources" name="choice">
                </form>
            </li>
            

            <li>
                <form action="/redir" method="GET">
                    <input type="submit" value="All Articles" name="choice">
                </form>
            </li>

        </ul>
    </div>
</footer>