<footer>
    <div id="footer_cont">
        <ul id="footer_list">

            <li class="but_cont">
                <a href="/Sources" style="text-decoration: none">
                    <button class="footer_but">Sources</button>
                </a>
            </li>
            <li class="but_cont">
                <a href="/all_articles" style="text-decoration: none">
                    <button class="footer_but">All Articles</button>
                </a>
            </li>

        </ul>
    </div>
    <h3 id="api_credit">Powered by : <a href="https://newsapi.org/">NewsAPI.org</a></h3>
</footer>
