<footer>
    <div id="footer_cont">
        <ul>

            <li>
                <form action="/redir" method="GET">
                    <button class="footerBut" type="submit" value="Sources" name="choice">Sources</button>
                </form>
            </li>

            <li>
                <form action="/redir" method="GET">
                    <button class="footerBut" type="submit" value="all_articles" name="choice">All Articles</button>
                </form>
            </li>

        </ul>
    </div>
    <h3 id="ApiCredit">Powered by : <a href="https://newsapi.org/">NewsAPI.org</a></h3>
</footer>
