<footer>
    <div>
        <ul>

            <li>
                <form action="/redir" method="GET">
                    <button class="footerBut" type="submit" value="Sources" name="choice">Sources</button>
                </form>
            </li>

            <li>
                <form action="/redir" method="GET">
                    <button class="footerBut" type="submit" value="All Articles" name="choice">All Articles</button>
                </form>
            </li>

        </ul>
    </div>
</footer>