<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <title>News Collector</title>
        <link rel="stylesheet" type="text/css" href="css/footer.css">
    </head>
<body>



{{#each this}}
<div class="container">
    <div class="titlecont">{{source}}</div>
</div>
{{/each}}


{{>footer}}

</body>