<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" type="text/css" href="css/articles.css">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">    
    </head>
<body>


<div id="header">Articles</div>

<div id="main_container">
    {{#each amount}}
        {{#each ../articles}}
            <div class="art_container">
                <h1 class="titlecont">{{title articles ../this}}</h1>
                
                <div class="info_container">
                    <img class="image" href="{{image articles ../this}}" src="{{image articles ../this}}" alt=""/>
                    <p class="desc">{{desc articles ../this}}</p>
                </div>
            </div>
        {{/each}}
    {{/each}}
</div>

{{>footer}}
</body>
</html>