<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="css/error.css">
    </head>
    <body>
        <h3><span>{{ErrorCode}}!</span><br>{{ErrorDesc}}!</h3>
    </body>
</html>