<div class="page-header">
    <h3>Hey there. Do you want to see :</h3>

    <form action="/redir" method="GET">
        <input type="submit" value="SOURCES" name="choice">
    </form>

    <h3>Or :</h3>

    <form action="/redir" method="GET">
        <input type="submit" value="ARTICLES" name="choice">
    </form>

</div>