<!DOCTYPE html>
<html lang="en">
    <head>
        <title>News Collector</title>
        <link rel="stylesheet" type="text/css" href="css/footer.css">
        <link rel="stylesheet" type="text/css" href="css/sources.css">
        <script src="js/sources.js"></script>
    </head>

    <body>
        <div id="header">Sources</div>

        <ul id="src_list">
            {{#each sources_list}}
            <li>
                <button class="src_btn">{{this}}</button> 
            </li> 
            <br>
            {{/each}}
        </ul>


        <form action="/articles" method="GET">
            <div id="viewArt_cont">
                <button id="viewArt" type="submit" value="none" name="sources">View articles from selected sources</button>
            </div>
        </form>
        

    {{>footer}}


    </body>
</html>