body{
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

#header{
    width: 100%;
    height: auto;

    position: static;
    top: 0;
    left: 0;

    font-family: 'Arvo',cursive;
    font-size:5em;
    text-align: left;

    background: #4F618F;
    color: #323232;
}

.art_container{
    /* margin: 10em 0; */
    margin: 0;
    padding: 0;
}

.titlecont{
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: normal;

    color: #FFFFFF;

    text-align: center;

    background-color: #4F618F;

    
    width: 100%;
    height: auto;

    position: absolute;
    left: 0;
}

.image{
    object-fit: contain;
    float: left;

    width: 80%;
    height: 80%;
}

table{
    width: 100%;
    padding-top: 2em;

    border-spacing: 0;
}
td{
    width: 50%;
    padding: 0;

    background-color: #323232;
}

.desc{
    color: white;

    text-align: left;
    font-weight: normal;
    font-size: 30px;

    font-family: 'Playfair Display', serif;
}

.link{
    text-decoration: none;
}

.author{
    color: white;

    font-style: italic;
    font-weight: normal;
}