body{
    background-color: #323232;
    padding: 0;
    margin: 0;

    overflow-x: hidden;
}

#header{
    width: 100%;
    height: auto;

    position: static;
    top: 0;
    left: 0;

    font-family: 'Arvo',cursive;
    font-size:3em;
    
    text-align: left;

    background: #4F618F;
    color: #323232;  
}

.art_container{
    margin: 0;
    padding: 0;
}

.titlecont{
    font-family: 'Playfair Display', serif;
    font-size: 1.5em;
    font-weight: normal;

    word-wrap: break-word;    
    text-align: center;

    color: #FFFFFF;
    background-color: #4F618F;

    width: 100%;
    height: auto;
    padding: 0;
}

.imagecont{
    width: 90%;
    height: 50%;
}

.image{
    object-fit: contain;
    float: left;

    width: 100%;
    height: 100%;
}

table{
    width: 100%;

    margin-top: -1px;
    border-spacing: 0;
}

td{
    width: 50%;
    padding: 0;

    background-color: #323232;
}

.desc{
    color: white;

    text-align: left;
    font-weight: normal;
    font-size: 2em;

    font-family: 'Playfair Display', serif;

}

.link{
    text-decoration: none;
}

.author{
    color: white;

    font-style: italic;
    font-weight: normal;
}



@media only screen and (max-width: 1024px) {
    /* Tablets and Desktop */
    .titlecont{font-size: 1.2em}
    .desc{font-size: 1em}
    .author{font-size: .8em}
}

@media only screen and (max-width: 767px) {
    /* Phones */
    #header{font-size:1.5em}
    .titlecont{font-size:.8em}
    td{display: table-row}
    .imagecont{width:100%}
    .image{
        width: 120%;
        height: 80%;
    }

}

@media only screen and (max-width: 320px) {
    /* Phones */
    #header{font-size:1.5em}
    .titlecont{font-size:.8em}
    td{display: table-row}
    table{width:100%}
    .imagecont{width:100%}
    .image{object-fit: contain}


}
