footer{
    background-color: #1A1A1A;
    -webkit-box-shadow: inset 0px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 5px 20px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 5px 20px 0px rgba(0,0,0,0.75);
}

#footer_cont{
    display: table;
    margin: 0 auto;
}

#footer_list{
    margin: 1.5em 0 1em 0;
    padding: 0;

    list-style-type: none;
}

.but_cont{
    display: inline-block;
}

#api_credit{
    color: rgb(56, 56, 56);

    margin: 0;
    display: inline;
}

#api_credit a{
    color: inherit;
    text-decoration: none;
}


.footer_but{
    background-color: transparent;
    border: solid 1px #405079; 

    color: #405079;

    width: 10em;
    height: 3em;

    font-size: 2em;
    font-weight: bold; 

    transition: background-color .2s ease-in,color .2s ease-in-out;
}

.footer_but:hover{
    cursor: pointer;

    background-color: #405079;
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
}

.footer_but:focus{
    outline: none;
}



@media only screen and (max-width: 767px) {
    .footer_but{font-size: 1.5em;}
    .but_cont{display: block;}
}

@media only screen and (max-width: 320px) {
    .footer_but{font-size: 1em;}
    .but_cont{display: block;}
}