footer{
    background-color: #1A1A1A;
    -webkit-box-shadow: inset 0px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 5px 20px 0px rgba(0,0,0,0.75);
    box-shadow: inset 0px 5px 20px 0px rgba(0,0,0,0.75);
}


ul li{
    display: inline-block;

    margin-right: 2em;
}

footer div{
    display: table;
    margin: 0 auto;  
}

.footerBut{
    background-color: transparent;
    border: solid 1px #405079;
  

    color: #405079;

    width: 10em;
    height: 3em;

    font-size: 30px;
    font-weight: bold; 

    transition: background-color .2s ease-in,color .2s ease-in-out;
}

.footerBut:hover{
    cursor: pointer;

    background-color: #405079;
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
}

.footerBut:focus{
    outline: none;
}