body{
    background-color: #323232;

    margin: 0;
    padding: 0;
}

#header{
    width: 100%;
    height: auto;

    position: absolute;
    top: 0;
    left: 0;

    font-family: 'Arvo',cursive;
    font-size:5em;
    text-align: left;

    background: #4F618F;
    color: #323232;
}

#src_list{
    margin-top: 10em;
    margin-bottom: 3em;

    list-style: none;

    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
    
    column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;    
}

.btn_cont{display: inline-block}

#viewArt_cont{padding-bottom: 1em;}
#viewArt{
    background-color: transparent;
    border: solid 1px #405079;

    display: block;

    color: #405079;

    width:auto;
    height:auto;
    max-width: 8em;

    font-size:2em;
    font-weight:bold;
    font-family:'Arvo',cursive;

    transition: background-color .2s ease-in,color .2s ease-in-out;

    margin:0 auto;
}

#viewArt:hover{
    cursor:pointer;

    background-color:#405079;
    color: #000; /* Fallback for older browsers */
    color: rgba(0, 0, 0, 0.5);
}

#viewArt:focus{
    outline:none;
}

.src_btn{
    
    background-color:transparent;
    border:none;
    border-bottom:2px solid transparent;

    font-size:2em;
    font-family: 'Poiret One', cursive;
    letter-spacing:3px;
    text-align: left;

    color:rgb(255, 255, 255);

    max-width:15em;
    margin-left:auto;
}

.src_btn:hover{
    cursor:pointer;
    border-bottom:2px solid #4F618F;
}

.src_btn:focus {
    outline:none;
}

.src_btn:active{
    color: #FFE3AA;
}


@media only screen and (max-width: 886px) {

    #header{font-size: 3em}
    #src_list{
        column-count: 3;
        margin-top: 5em;
    }
    .src_btn{font-size: 1.2em}
    #viewArt{font-size: 1.5em}
}    

@media only screen and (max-width: 445px){
    #src_list{
        column-count: 2;
    }
}

@media only screen and (max-width: 375px) {

    #header{font-size:2em}
    #src_list{
        column-count: 1;
        margin-top: 4em;
    }
    .src_btn{font-size: 1em}
    #viewArt{
        font-size: 1em;
        max-width: 10em;        
    }
    #viewArt_cont{padding-bottom: 1em}
}